* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  overflow: overlay;
  overflow-x: hidden;
}

input,
textarea {
  outline: none;
}

#nav_list {
  display: flex;
  padding: 7px 12px;
  /* justify-content: center; */
  align-items: center;
  padding-left: 0;
}

.nav_link {
  list-style: none;
  padding: 0px 9px;
}

.nav_link a {
  display: flex;
  text-decoration: none;
  color: red;
  font-size: 20px;
  padding: 10px;
  align-items: center;
}

#navbar::before {
  content: "";
  background-color: #343a40 !important;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* opacity: 0.5; */
  z-index: -1;
  position: absolute;
}

#navbar {
  height: 100%;
  font-family: "Bree Serif", serif;
  position: sticky;
  top: 0px;
  left: 0px;
}
/* 
  body::before {
      content: "";
      background-image: url('bg.jpg');
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0.8;
      z-index: -1;
      position: absolute;
  } */

.link_a:hover {
  background-color: white;
  border-radius: 4px;
  color: green;
  font-weight: bold;
}

.link_a:active {
  background-color: rgb(0, 89, 255);
  color: yellowgreen;
}

#searchbox {
  /* position: absolute; */
  /* top: 0px; */
  /* right: 0px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  /* margin-right: 60px; */
  /* padding: 12px 60px; */
}

#search {
  padding: 6px;
  font-size: 18px;
  font-family: "Bree Serif", serif;
  width: 300px;
  background-color: transparent;
  border: 2px solid palegreen;
  /* border-bottom: palegreen; */
  border-radius: 5px;
  color: white;
}

#search::placeholder {
  font-family: "Bree Serif", serif;
  color: wheat;
}

#search-icon-list {
  /* position: absolute;
      top: 4px;
      right: 8px; */
  height: 212px;
}

#search-icon {
  position: absolute;
  top: 3px;
  background-color: white;
  border-radius: 5px;
  height: 39px;
  list-style: none;
  padding: 2px;
}

#search-icon:hover {
  background-color: #e9e4db;
}

#search-icon:active {
  background-color: #beb8aa;
}

#search-icon-list {
  list-style: none;
  height: 43px;
  padding-left: 10px;
  /* padding: 0 7px; */
  width: 43px;
}

#search-box_div {
  display: flex;
  /* width: 521px; */
  position: absolute;
  top: 5px;
  right: 15px;
  flex-direction: row-reverse;
}

#logo {
  border-radius: 45px;
  height: 40px;
  border: 2px solid #bbadad;
}

#nav_link-0 {
  padding-right: 0;
}

#div {
  display: flex;
  box-sizing: border-box;
}

#navbar ul #open-burger-li {
  display: none;
  list-style: none;
  cursor: pointer;
}

#navbar ul #open-burger-li:hover {
  filter: opacity(36%);
}

#navbar ul #open-burger-li:active {
  filter: brightness(90%);
}

#close-burger-li {
  display: none;
}

@keyframes menu-close {
  from {
    position: absolute;
    right: 0px;
  }

  to {
    position: absolute;
    right: -310px;
  }
}

@keyframes menu-open {
  from {
    position: absolute;
    right: -310px;
  }

  to {
    position: absolute;
    right: 0px;
  }
}

// @media only screen and (max-width: 923px) {
//   #navbar ul #open-burger-li {
//     display: block;
//     filter: invert(1);
//     height: 48px;
//     position: absolute;
//     right: 15px;
//   }

//   #navbar ul #open-burger-li img {
//     height: inherit;
//   }

//   #div {
//     /* width: 50vw; */
//     /* display: none; */
//     // display: flex;
//     display: none;
//     padding: 58px 5px;
//     flex-direction: column;
//     top: 0px;
//     position: absolute;
//     height: 100vh;
//     /* font-size: 92px; */
//     // right: -310px;
//     background: #343a40;

//     #close-burger-li {
//       display: block;
//       list-style: none;
//       cursor: pointer;
//       height: 48px;
//       filter: invert(1);

//       img {
//         height: inherit;
//         transform: rotate(180deg);
//       }

//       &:hover {
//         filter: opacity(36%);
//       }

//       &:active {
//         filter: brightness(90%);
//       }
//     }

//     #search-box_div {
//       position: static;
//       display: flex;

//       #searchbox {
//         form {
//           #search {
//             padding: 6px;
//             text-align: center;
//             font-size: 22px;
//             font-family: "Bree Serif", serif;
//             width: 296px;
//             background-color: transparent;
//             border: 2px solid palegreen;
//             /* border-bottom: palegreen; */
//             border-radius: 5px;
//             color: white;
//           }
//         }
//       }
//     }
//   }

//   #nav_link-0 {
//     padding-right: 0;
//     padding-bottom: 0;
//     padding-top: 0;
//   }

//   .nav_link {
//     list-style: none;
//     padding: 6px 9px;
//     a {
//       /* display: -webkit-box; */
//       display: -ms-flexbox;
//       display: flex;
//       text-decoration: none;
//       color: red;
//       font-size: 22px;
//       padding: 10px;
//       /* text-align: center; */
//       /* -webkit-box-align: center; */
//       justify-content: center;
//       -ms-flex-align: center;
//       align-items: center;
//     }
//   }
// }

@media only screen and (max-width: 810px) {
  #open-burger-li {
    display: block !important;
    filter: invert(1) !important;
    height: 48px !important;
    cursor: pointer;
    position: fixed;
    right: 29px;
    top: 5px;

    img {
      height: inherit;
      &:hover {
        filter: invert(30%);
      }

      &:active {
        filter: invert(50%);
      }
    }
  }

  #div {
    position: fixed;
    flex-direction: column;
    height: 100vh;
    top: 0;
    background: #343a40;
    padding: 60px 16px;
    right: -336px;
    transition: right 0.5s ease-in-out;
    pointer-events: none;
    z-index: -1;

    #search-box_div {
      position: static;
    }

    #close-burger-li {
      display: block;
      opacity: 0;
      pointer-events: none;
      filter: invert(1);
      height: 50px;
      cursor: pointer;

      img {
        height: inherit;
      }
    }

    .nav_link {
      padding: 0;
    }
  }

  .show-div {
    right: 0px !important;
    pointer-events: all !important;
  }
}
